<!-- empezando navbar como el stripe payment page -->

<nav class="top">

  <div class="dropdownBackground">
    <span class="arrow"></span>
  </div>

  <ul class="cool">

    <li>
      <a href="">About me</a>
      <div class="dropdown dropdown1">
        <div class="bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla doloremque sequi, delectus id rem cupiditate. Asperiores incidunt ipsa architecto natus reprehenderit suscipit, quisquam deserunt qui, labore fuga accusantium cupiditate soluta.</p>
        </div>

      </div>

    </li>

    <li>
      <a href="">Courses</a>

      <ul class="dorpdown courses">

        <li>
          <span class="code">RFE</span>
          <p>React for begginer</p>
        </li>

        <li>
          <span class="code">REdux</span>
          <p>learn redux the hard way</p>
        </li>




      </ul>

    </li>

    <li>
      <a href="">Other links</a>
      <ul>
        <li><a class="button" href="">Twitter</a></li>
        <li><a class="button" href="">facebook</a></li>
        <li><a class="button" href="">Twitter</a></li>
      </ul>
    </li>


  </ul>
</nav>




<h1>New tattos shop</h1>

<div class="panels">

<div class="panel panel1">
  <p>experience</p>
  <p> It</p>
  <p>Today</p>
</div>

<div class="panel panel2">
  <p>vamos</p>
  <p>a ver </p>
  <p>como va</p>


</div>

<div class="panel panel3">
  <p>
    panel
  </p>
  <p>numero</p>
  <p>3 tres</p>
</div>

</div>
