<h1>New tattos shop</h1>

<div class="panels">

<div class="panel panel1">
  <p>experience</p>
  <p> It</p>
  <p>Today</p>
</div>

<div class="panel panel2">
  <p>vamos</p>
  <p>a ver </p>
  <p>como va</p>


</div>

<div class="panel panel3">
  <p>
    panel
  </p>
  <p>numero</p>
  <p>3 tres</p>
</div>

</div>
