<h1>3 challenges 30 days js</h1>



<div class="inbox">

  <div class="item">
    <input type="checkbox">
    <p>this is and inbox</p>
  </div>

  <div class="item">
    <input type="checkbox">
    <p>check one item</p>
  </div>

  <div class="item">

    <input type="checkbox">
    <p>hold down your shift key</p>
  </div>


  <div class="item">
    <input type="checkbox">
    <p>check a lower item</p>
  </div>



</div>

<%= render 'shared/game' %>
